html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: FFheading;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-top: 25px;
}
.header__figure {
  width: 140px;
}
.header__button {
  padding: 7px 20px;
  background-color: #f5faff;
  border: 1px solid #ff52bf;
  color: #ff52bf;
  border-radius: 20px;
}
