html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #00252e;
}
p {
  font-size: 1.4rem;
}
picture {
  padding: 0;
  margin: 0;
  height: 100px;
}
picture img {
  width: 100vw;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-top: 80px;
}
.header__figure {
  width: 140px;
}
.header__button {
  padding: 7px 20px;
  background-color: #fff;
  border: 1px solid #ff52bf;
  color: #ff52bf;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.header__button:hover {
  color: #ff85d2;
  border: 1px solid #ff85d2;
  transform: scale(0.95);
}
.hero {
  margin-top: 80px;
  padding: 0 5%;
  text-align: center;
}
.hero__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__article h1 {
  max-width: 270px;
}
.hero__article p {
  max-width: 300px;
}
.hero__article__button {
  margin: 50px auto;
  padding: 13px 45px;
  background-color: #ff52bf;
  color: #f5faff;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  transition: 0.3s;
}
.hero__article__button:hover {
  background-color: #ff85d2;
  transform: scale(0.95);
}
@media screen and (min-width: 1000px) {
  .hero__article__button {
    font-size: 2.3rem;
    padding: 25px 65px;
  }
}
.hero__figure {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.hero__figure__image {
  max-width: 270px;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto;
}
.stats__item {
  width: 150px;
  margin-top: 80px;
}
.stats__item__figure {
  width: 25px;
  margin-bottom: 0;
}
.stats__item__title {
  margin: 0;
  font-size: 5.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #00252e;
}
.stats__item__p {
  font-weight: 400;
  text-align: center;
  color: #808080;
}
.top-curve {
  margin-bottom: -15px;
}
.benefits {
  display: flex;
  flex-direction: column;
}
.benefits__item {
  padding: 25px 7%;
  text-align: center;
  background-color: #f5faff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.benefits__item__figure {
  max-width: 350px;
}
.benefits__item__text {
  max-width: 350px;
}
.benefits__item.reversed {
  background-color: #fff;
}
.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}
.ready__title {
  max-width: 300px;
}
.ready__button {
  padding: 13px 45px;
  background-color: #ff52bf;
  color: #f5faff;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  transition: 0.3s;
}
.ready__button:hover {
  background-color: #ff85d2;
  transform: scale(0.95);
}
@media screen and (min-width: 1000px) {
  .ready__button {
    font-size: 2.3rem;
    padding: 25px 65px;
  }
}
@media screen and (min-width: 500px) {
  .hero__article h1 {
    max-width: 500px;
  }
  .hero__article p {
    max-width: 430px;
  }
  .hero__figure__image {
    max-width: 450px;
  }
  .stats {
    flex-direction: row;
    justify-content: center;
  }
  .stats__item {
    margin-left: 50px;
    margin-right: 50px;
  }
  .benefits__item {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .benefits__item__text {
    text-align: start;
    margin: 0 50px;
  }
  .benefits__item.reversed {
    flex-direction: row;
  }
  .ready__title {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 4rem;
  }
  p {
    font-size: 2.5rem;
  }
  .header__button {
    height: 40px;
    width: 140px;
  }
  .header__figure {
    width: 220px;
  }
  .hero__article h1 {
    max-width: 1000px;
    margin-bottom: 0;
  }
  .hero__article p {
    max-width: 800px;
  }
  .hero__figure__image {
    max-width: 1000px;
  }
  .stats__item {
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .stats__item__figure {
    width: 40px;
  }
  .stats__item__title {
    font-size: 9rem;
  }
  .stats__item__p {
    margin-left: -70px;
  }
  .benefits__item__figure {
    max-width: 500px;
  }
  .benefits__item__text {
    max-width: 700px;
  }
}
