Pink = 	#ff52bf
LightPink = 	#ff8fd8
LightRed = 	#ff4242

VeryDarkCyan = 	#00252e
VeryPaleBlue = 	#f5faff

FWHeading = 700
FWBodyThin = 400
FWNormal = 600
FWBold = 700

FFHeading = 'Poppins', sans-serif
FFBody = 'Open Sans', sans-serif