@import './_tokens.styl'

html
	box-sizing border-box
	font-family FFBody
	font-size 62.5%
	scroll-behavior smooth

*,*:before,*:after
	box-sizing inherit

body
	margin 0
	font-family FFBody
	overflow-x hidden
	font-size 1.8rem

img
	max-width 100%
	height auto

figure
	margin 0

h1,h2,h3,h4,h5,h6
	font-family FFHeading
	color VeryDarkCyan

p
	font-size 1.4rem

picture
	padding 0
	margin 0
	height 100px
	img
		width 100vw

.header
	display flex
	justify-content space-between
	padding 0 5%
	margin-top SpacingLong
	&__figure
		width 140px
	&__button
		padding 7px 20px
		background-color #fff
		border 1px solid Pink
		color Pink
		border-radius 20px
		transition .2s
		cursor pointer
		&:hover
			color lighten(Pink, 10)
			border 1px solid lighten(Pink, 10)
			transform scale(.95)

.hero
	margin-top SpacingLong
	padding 0 5%
	text-align center
	&__article
		display flex
		flex-direction column
		align-items center
		h1
			max-width 270px
		p
			max-width 300px
		&__button
			margin SpacingMedium auto
			BigButton()
	&__figure
		margin-top SpacingMedium
		display flex
		justify-content center
		&__image
			max-width 270px

.stats
	display flex
	flex-direction column
	align-items center
	margin SpacingLong auto
	&__item
		width 150px
		margin-top SpacingLong
		&__figure
			width 25px
			margin-bottom 0
		&__title
			margin 0
			font-size 5.5rem
			font-family FFBody
			color VeryDarkCyan
		&__p
			font-weight FWBodyThin
			text-align center
			color gray

.top-curve
	margin-bottom -15px
.benefits
	display flex
	flex-direction column
	&__item
		padding SpacingSmall 7%
		text-align center
		background-color VeryPaleBlue
		display flex
		align-items center
		flex-direction column
		&__figure
			max-width 350px
		&__text
			max-width 350px
		
	&__item.reversed
		background-color white

.ready
	display flex
	flex-direction column
	align-items center
	text-align center
	margin-bottom SpacingLong
	&__title
		max-width 300px
	&__button
		BigButton()

@media screen and (min-width 500px)
	.hero
		&__article
			h1
				max-width 500px
			p
				max-width 430px
		&__figure
			&__image
				max-width 450px
	.stats
		flex-direction row
		justify-content center
		&__item
			margin-left SpacingMedium
			margin-right SpacingMedium
	
	.benefits
		&__item
			flex-direction row-reverse
			justify-content center
			&__text
				text-align start
				margin 0 SpacingMedium
		&__item.reversed
				flex-direction row

	.ready__title
		max-width 1000px


@media screen and (min-width 1000px)
	body
		font-size 4rem
	p
		font-size 2.5rem
	.header
		&__button
			height 40px
			width 140px
		&__figure
			width 220px

	.hero
		&__article
			h1
				max-width 1000px
				margin-bottom 0
			p
				max-width 800px
			button
		&__figure
			&__image
				max-width 1000px
	
	.stats
		&__item
			width 300px
			margin-left 150px
			margin-right 150px
			&__figure
				width 40px
			&__title
				font-size 9rem
			&__p
				margin-left -70px

	.benefits
		&__item
			&__figure
				max-width 500px
			&__text
				max-width 700px